<h1>Stupid Coaching</h1>

<p>Ask your coach anything</p>

  <form action="answer" class="searchFlexbox">
    <input type="text" class="searchBar" placeholder ="Your question here" name="question"/>
    <button type="submit" class="searchButton" value="Ask!">Ask</button>
  </form> 




<!-- <form action="answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form> -->
