/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "_questions.scss";
// Container + flexbox
@mixin FlexProperties {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    width: 70%;
    margin: 0 0 40px;
}

.container {
    width: 80vw;
    margin: 0 auto;
    box-shadow: 0 2px 30px;
    border-radius: 5px;
    padding: 40px;
    .flexbox {
        @include FlexProperties();
        border-left: 10px solid #DDDDDD;
        .flexbox-answer {
            background-color: #FFFDE1;
        }
    }
}

// General fonts style
body {
    font-family: arial;
    font-size: 22px;
    font-weight: normal;
    color: rgb(96, 96, 96);
}